@model Models.Classificacao

@{
    ViewBag.Title = "Class.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apagar Classificação</h2>

<h3>Deseja realmente deletar essa classificação?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FaixaEtaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaixaEtaria)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a class="btn btn-default" href="@Url.Action("Index")">Voltar</a>
        </div>
    }
</div>
